# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

alias ll='ls -la'
alias l='ll'
alias ..='cd ..'
alias ...='cd ../../'

alias youtube-dl-playlist="youtube-dl --ignore-errors --playlist-reverse --output '%(playlist)s/%(playlist_index)s- %(title)s.%(ext)s'"
alias youtube-dl-mp3='youtube-dl  --extract-audio --audio-format mp3'

alias c='clear'
alias a='axel -a'
alias aptitude='sudo aptitude'
alias apt-get='sudo apt-get'
alias psgrep='ps aux | grep -v grep | grep'
alias tailf='tail -f'

if type "git" > /dev/null 2>&1; then
    alias g='git'
    alias add='git add'
    alias commit='git commit'
    alias checkout='git checkout'
    alias pull='git pull'
    alias push='git push'
    alias gpp='git pull; git push'
    alias git-pull-all-subdirs='find . -mindepth 1 -maxdepth 1 -type d -print -exec git -C {} pull \;'
fi

if type "xdg-open" > /dev/null 2>&1; then
    alias o='xdg-open'
elif type "open" > /dev/null 2>&1; then
    alias o='open'
fi


#NPM offline (https://addyosmani.com/blog/using-npm-offline/)
npmo ="npm --cache-min 9999999 "

eval "$(thefuck --alias)"
