export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"

# Path to your oh-my-zsh installation.
export ZSH=~/.oh-my-zsh

# don't put duplicate lines or lines starting with space in the history.
# See bash(1) for more options
export HISTCONTROL=ignoreboth

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
export HISTSIZE=1000
export HISTFILESIZE=2000

export HISTTIMEFORMAT='%F %T  '
export GIT_EDITOR=vim
export VISUAL=vim
export EDITOR=vim
